* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 10px;
}

button {
    width: 100px;
    height: 50px;
}

#id {
    width: 100px;
}

#resource {
    border: 1px solid black;
    width:100%;
    height: 100px;
}

#response {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background: #eee;
}